<div ng-app="product-app" class="container">
  <h1>Products</h1>

  <div ng-controller="ProductCtrl">

     <div class="form-group">

        <input ng-model="searchProduct" type="text" class="form-control">
          {{ searchProduct}}
      </div>

    <table class="table">
      <tbody>
   
      <tr ng-repeat="product in products | filter:searchProduct" class="list-group-item">
        {{product.name}}
        <div ng-show="product.details">
          <dl>
            <dt> Name: </dt>
            <dt> {{product.name}} </dt>
  
      </tr>
    </ul>

    <h3>New Product:</h3>
    <form ng-submit="saveProduct();" class="form-group">
      <label for="quantity">Quantity:</label>
      <input ng-model="newProduct.name" name="name" class="form-control">
      <label for="flavor">Flavor:</label>
      <input ng-model="newProduct.flavor" name="flavor" class="form-control">
      <label for="topping">Topping:</label>
      <input ng-model="newProduct.topping" name="topping" class="form-control">
      <input type="submit" value="Add New Record!" class="btn btn-primary">
    </form>
  </div>
</div>