				
			<div  x-ng-controller='UserCtrl'>


				<h4>{{users[0].name}}</h4>

					<div ng-repeat="list in users[0].lists track by $index">{{list.name}}
						<div ng-repeat="product in list.products">{{product.name}}</div>
					</div>
				
				<input ng-model="searchProduct" type="text" class="form-control">

				<div ng-repeat="product in products | filter:searchProduct" >
					<img src="{{product.image.sizes.IPhone.url}}" >

				</div>
		
			
				
			</div>