<div ng-app="product-app" class="container">
  <h1>Products</h1>

  <div ng-controller="ProductCtrl">
    <div ng-show="errors" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" ng-click="clearErrors();" aria-hidden="true">&times;</button>
      <ul>
        <li ng-repeat="(attribute, error) in errors">
          {{attribute}} {{error.join(", ")}}
        </li>
      </ul>

    </div>


    <div ng-controller="AlertDemoCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='button' ng-click="addAlert()">Add Alert</button>
</div>






      <button type="button" class="btn btn-lg btn-primary" bs-aside="{title: 'GA sidebar', content: 'GA is cool'}">Click to toggle aside
      <br>
      <small>(using an object)</small>
    </button>

    <button type="button" class="btn btn-lg btn-primary" title="{{alert.title}}" data-content="{{alert.content}}" data-type="success" data-container="#alerts-container" bs-alert="alerts">lovely button
      <br>
      <small></small>
    </button>

    <button type="button" class="btn btn-lg btn-danger" data-placement="left" data-animation="am-slide-left" data-html='true' bs-aside="{title: 'GA sidebar', content: 'GA is cool'}" data-container="body">Click Me
      <br> </button>

    <form class="form-inline" role="form">
      <div class="form-group">
        <label><i class="fa fa-globe"></i> State</label>
        <input type="text" class="form-control" ng-model="selectedState" ng-options="state for state in states" placeholder="Enter state" bs-typeahead>
      </div>
    </form>
    <br />

        <!-- Button to trigger a default popover with a scope as an object {title:'', content:'', etc.} -->
    <button type="button" class="btn btn-lg btn-primary" data-placement="bottom" data-animation="am-flip-x" bs-popover="popover">Click to toggle popover
      <br>
      <small>(using an object)</small>
    </button>

        <!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Click to toggle modal
      <br>
      <small>(using an object)</small>
    </button>

    <!-- You can use a custom html template with the `data-template` attr -->
    <button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top"  bs-modal="modal">Custom Modal
      <br>
      <small>(using data-template)</small>
    </button>



<form name="datepickerForm" class="form-inline" role="form">
  <!-- Basic example -->

  <!-- Date range example -->
  <div class="form-group">
    <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Date range <small>(dynamic)</small></label><br>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>
    </div>
  </div>
</form>





     <div class="form-group">

        <input ng-model="searchProduct" type="text" class="form-control">

      </div>

    <table class="table table-bordered">
      <tbody>
        <tr ng-repeat="product in products | filter:searchProduct" >
         <td>
            <div ng-hide="product.editing">
            {{product.name}}
            </div>
            <form ng-show="product.editing" ng-submit="updateProduct(product);" class="form-group">
              <label for="quantity">Quantity:</label>
              <input ng-model="product.name" name="quantity" class="form-control">
       
              <input type="submit" value="Update!" class="btn btn-primary">
            </form>

            <div ng-show="product.details">
              <dl>
                 <dt>Product Name</dt>
                 <dd>{{product.name}}</dd>
                

                 <dd>
                  <ul>
                  
                  </ul>
                </dd>
              </dl>
            </div>
          </td>
          <td><span ng-hide="product.details"><a ng-click="showProduct(product);" class="btn btn-info">show</a></span>
          <span ng-show="product.details"><a ng-click="hideProduct(product);" class="btn btn-info">hide</a></span>
          </td>
          <td><a ng-click="editProduct(product);" class="btn btn-info">edit</a></td>
          <td><a ng-click="deleteProduct(product);" class="btn btn-info">delete</a></td>
        </tr>
      </tbody>
    </table>

    <h3>New Product:</h3>
    <form ng-submit="saveProduct();" class="form-group">
      <label for="quantity">Quantity:</label>
      <input ng-model="newProduct.name" name="quantity" class="form-control">
  
      <input type="submit" value="Add New Product!" class="btn btn-primary">
    </form>

  </div>
</div>