<h1> Static#index</h1>
<p> Find me in app/views/static/index.html.erb </p>

<h1> Yogurts </h1>


<div x-ng-app="yogurt-app">
	<div x-ng-controller="YogurtCtrl">

		<input ng-model="searchYogurt" type="text"><br>
	

		<ul class="group-list">
			<li ng-repeat="yogurt in yogurts | filter:searchYogurt" class="group-item-list">
				{{ yogurt.flavor}}

			 	{{ yogurt.price}}

			 	{{ yogurt.quantity}}

			 	{{ yogurt.topping}}
			</li>
		</ul>
	</div>
</div>