<h1> Static#index</h1>
<p> Find me in app/views/static/index.html.erb </p>

<h1> Products</h1>


<div x-ng-app="product-app">
	<div x-ng-controller="ProductCtrl">

		<input ng-model="searchProduct" type="text"><br>
	

		<ul class="group-list">
			<li ng-repeat="product in products| filter:searchProduct" class="group-item-list">
				{{ yogurt.flavor}}

			 	{{ yogurt.price}}

			 	{{ yogurt.quantity}}

			 	{{ yogurt.topping}}
			</li>
		</ul>
	</div>
</div>